*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:#87bc29;
    --primary-font:Algerian;
    --bg-image-center:no-repeat center/cover;
}
.center{
    text-align: center;
}
body{
    height: 200vh;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    background-color: rgba(0,0,0,0.5
    );
    position: fixed;/*goes to left corner*/
    width: 100%; /*pura line*/
    padding: 50px;
}
.list-item{
    display: inline;/*all li in single line*/
}
.list-item a{
    padding: 40px;/*betn li*/
    text-decoration: none;
    font-family: sans-serif;
    color: #fff;
    font-size: 50px;

}
.nav-logo h1{
    color: #fff;
    
    text-align: center;
    font-size: 90px;
}
.nav-logo span{
    color: var(--primary-color);
}
.list-item a:hover{
    border-bottom: 3px solid #fff;
}
.hero{
    background: linear-gradient(to left,rgba(0,0,0,0.4),rgba(0,0,0,0.616)),url(images/scott-blake-x-ghf9LjrVg-unsplash.jpg) var(--bg-image-center);
}
.hero-headings-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-inline-start: 10rem;
    color: #fff;
}
.hero-main-heading{
    font-size: 10rem;
    color: #fff;
}
.hero-headings-container h3{
    font-size: 60px;
}

.main-span{color: var(--primary-color);
font-family: var(--primary-font);}
.hero-headings-container p{
    font-weight: bold;
}
.hero-headings-container p{
    font-size: 50px;
}
.main-btn{
    text-decoration: none;
    margin-block-start:20px ;
    color: #fff;
    border-bottom: 2px solid var(--primary-color);
    font-weight: bold;
    font-size: 40px;
}
.main-headings{
    font-family: sans-serif;
    font-size: 7rem;
    font-weight: normal;
    margin: 100px;
    transition-property: all;
    transition-duration: 0.5;
}
.main-headings:hover{
    transform: skew(30deg);
    -webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
    -ms-transform: skew(30deg);
    -o-transform: skew(30deg);
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.card{
    
    padding: 50px;
    margin: 40px;
    transition-property: all;
    transition-duration: 1s;
    border: 1px solid #ccc;

}
.card:hover{
    box-shadow: 3px 3px 3px 3px #ccc ;
    cursor: pointer;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.card p{
    color: rgb(39,39,39);
    font-family: sans-serif;
    font-size: 60px;
    padding: 60px;
    
}
.card-image{ /* image size*/
    width: 650px;
    height: 650px;
}
.image-one{
    background: url('images/one.jpg') var(--bg-image-center);
}
.image-two{
    background: url('images/two.jpg') var(--bg-image-center);
}
.image-three{
    background: url('images/three.jpg') var(--bg-image-center);
}
/*why us*/
.why-us{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.lists-container{
    
    font-family: sans-serif;
}
.list{
    font-size: 60px;
    display: flex;
    align-items: center;
    text-align: center;

}
.list-number{
    font-size: 60px;
    width: 70px;
    height: 70px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px 70px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;


}
.list-number p{
    color: var(--primary-color);
    text-align: center;
}
.list-info{
    color: gray;
}
.list-info:hover{
    transform: scale(1.1);
    font-weight: bold;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);

    
}

.owner-image{
    background: url(images/Zayn.jpg) no-repeat top/cover;
    width: 500px;
    height: 500px;
    /*shifts right to image*/
    border-radius: 50%;
    border: 20px solid var(--primary-color);
    margin-top: 20px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    transition-property: all;
    transition-duration: 1s;
}
.owner-image:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform:scale(1.2) ;
    -o-transform: scale(1.2);
}
/*project-details-container-left*/
.project-details-container-left{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10rem;
    font-family: sans-serif;

}
.project-details-container-right{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10rem;
    font-family: sans-serif;
}
.project-detail-img{
    box-shadow: 10px 10px 5px var(--primary-color);
    transition-property: all;
    transition-duration: 1s;
}
.project-detail-img:hover{
    transform: scale(1.1);
    box-shadow: 20px 20px 5px var(--primary-color);
    transform: skew(10deg);
    -webkit-transform: skew(10deg);
    -moz-transform: skew(10deg);
    -ms-transform: skew(10deg);
    -o-transform: skew(10deg);
}
.title{
    margin: 50px;
    font-size: 50px;
    margin-left: 40px;
    text-transform: uppercase;
    font-weight: bold;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10rem 10rem;
}
input{
    font-size: 50px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    margin-bottom: 20px;
    width: 50%;
}
input:focus{
    border-bottom: 3px solid var(--primary-color);
}
a{
    font-size: 50px;
}
footer{
    height: 20vh;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer a{
    color: #fff;
    text-decoration: none;
    margin: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}